.library-search-head {
  color: chartreuse;
}

.library-search-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.library-search-field {
  width: 20%;
  padding: 10px;
  border: red solid 2px;
}

.library-input-preview li {
  list-style: none;
}

.library-display {
  width: 60%;
  padding: 10px;
  border: purple solid 2px;
}
